
div {
  color: #666666;
}

h1 {
  line-height: 1em;
  font-weight: normal;
  color: green;
  font-size: .8em;
}

nav.foot a {
  font-size: .8em;
}

nav.foot {
  padding: 1em;
}

/* *************************************** H tags */