
.body,body,td,div {
  color: #666666;
}

h1 {
  line-height: 1em;
  font-weight: normal;
  color: green;
}

nav.foot {
  padding: 1em;
}

.botnav a {
  font-size: 10px;
}

/* *************************************** H tags */